<div class="section" id="pilot_project" >
  <!--<img src="images/01.jpg">-->
  <div class="container">
    <h3>Pilot Project 1.0</h3>
    <div class="row" >
      <!--<div class="col s5 push-s1" *ngFor="let school of schools;">

        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{school.img}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{school.name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{school.link.url}}">{{school.link.text}}</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{school.name}}<i class="material-icons right">close</i></span>
            <p>{{school.body}}</p>
          </div>
        </div>
      </div>-->
       <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Design Thinking</div>
          <div class="collapsible-body"><span>
            <b>Description:</b> Provide students with the understanding of systematic ways of problem-solving methods to creatively solve real-world problems. This including how to conduct research, ideation techniques, data collection, prototyping, and reviewing process.
            <br> <br>
            <b>Goals for the Course:</b> Students who are successful in this course will demonstrate: 
              <br>
              <ul>
                <li>Apply empathy to the project management process</li>
                <li>Explore and produce unique craftsmanship skills</li>
                <li>Understand the foundation of critical thinking process</li>
                <li>Investigate and identify potential solutions to challenges</li>
              </ul>
            <br>
            <b>Program Outcomes:</b>
              At the conclusion of the Pilot Project 1.0, our students were able to define and apply logical and physical factors to produce a reasonable, sustainable, functional, and profitable solution based on their individual community’s needs. 
              <br>
              Students were broken into groups and assigned a community-based problem. They worked through course modules that helped them understand the problem, conduct research, and interpret findings in search of a solution. This Design Thinking approach allowed students to apply ideation methods and brainstorm solutions based on their research. Students were able to use knowledge and skills learned throughout this research to identify, define, and interpret issues relevant to the problem.
              <br>
              Throughout the process, student work demonstrated an understanding of the interrelationship of human needs and problem-solving. Often overlooked in pursuit of the “perfect design”, the needs of the user were emphasized throughout the design process, giving the students an understanding of how various social, economic, and cultural contexts influence their design. This shows them how the most successful products around them are made every single day.
              <br>
              Students in the Thin School Pilot Program 1.0 left with the ability to apply empathy to the design process by understanding their problem, conducting research, interpret their findings, and propose solutions based on the individual community needs.
              <br>

            </span></div>
        </li>
       </ul>
    </div>
  </div>
</div>



