<nav class="nav-extended nav-full-header">

  <div class="nav-wrapper">
    <a href="#" class="brand-logo">{{title}}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngFor="let menu of top_right_menu;"><a href="{{menu.url}}">{{menu.option}}</a></li>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <br>
      <li *ngFor="let menu of top_right_menu;"><a href="{{menu.url}}">{{menu.option}}</a></li>
    </ul>
  </div>


      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab" *ngFor="let menu of nav_menu;"><a href="{{menu.url}}">{{menu.option}}</a></li>
        </ul>
      </div>

</nav>
