#home {
  background-color: lightgrey;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.brand-logo img{
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
}

#white-bg{
  background-color: white !important;
}

#nav-mobile li{
  border: 1px solid;
  margin: 2px;
}
