<header>
  <app-navbar>Nav-bar Loading... </app-navbar>
</header>
<main>
  <app-sec-home>  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </app-sec-home>

  <app-sec-courses>  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </app-sec-courses>

  <app-sec-partners>  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </app-sec-partners>

  <app-sec-about-us>  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </app-sec-about-us>

  <app-sec-pilot-project>
     <div class="progress">
    <div class="indeterminate"></div>
  </div>
  </app-sec-pilot-project>
</main>
